@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@400;700&display=swap');


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* min-height: 100%;   instead of fixed height */
  overflow-x: hidden;
}


/*---------------for ranchiwaterfall and likewise pages----------------------*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease forwards;
}
